html
	head
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(charset='utf-8')

		title Polls

		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

	body
		#fb-root
		script(async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v6.0")
		nav(class="navbar navbar-expand-lg navbar-dark bg-dark mb-3")
			.container
				a(class="navbar-brand" href="/") Polls
				button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
					span(class="navbar-toggler-icon")

				div(class="collapse navbar-collapse" id="navbarSupportedContent")
					ul(class="navbar-nav mr-auto")

					form(class="form-inline my-2 my-lg-0")
						if(!loggedUser)
							a(class="nav-link btn btn-sm btn-dark mr-2 my-2 my-sm-0" href="/login") Login
							a(class="nav-link btn btn-sm btn-dark mr-2 my-2 my-sm-0" href="/register") Register
						else
							span(class="navbar-text")
								= loggedUser.email
							a(class="nav-link btn btn-sm btn-dark mr-2 my-2 my-sm-0" href="/logout") Logout
							
		.container
			.row
				.col-12
					-if(flash)
						.row
							.col-4.offset-8
								div(class="alert alert-success alert-dismissible fade show" role="alert")
									= flash
									button(type="button" class="close" data-dismiss="alert" aria-label="Close")
										span(aria-hidden="true") &times;

					block content
		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
		